@import "mixins";

.g-tabbar{
  width: 100%;
  display: flex;
  background-color: #fff;
  height: $tabbar-height;

  &-item{
    flex: 1;
    @include flex-center(column);

    .iconfont{
      margin-bottom: 4px;
      font-size: $icon-font-size;
    }
  }
}
